<div
  style="
    background: #12d9aa69;
    padding: 30px 0;
    text-align: center;
    font-family: Arial;
    color: #fff;
    margin: 0 auto; 
    max-width: 720px; 
    padding: 30px 0; 
    font-family: Arial
  "
>
  <h1>Header</h1>
</div>